@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Add this at the bottom of your CSS file */
#dify-chatbot-bubble-button {
  background-color: #f21c79 !important;
  z-index: 9999 !important; /* Ensures it stays on top of your site content */
}

#dify-chatbot-bubble-window {
  width: 24rem !important;
  height: 40rem !important;
  z-index: 9999 !important;
}